*{
  margin:0;
  padding: 0;

  
}
body{
  background-color: hsl(225, 100%, 94%);
  background-image: url('pattern-background-desktop.svg');
  background-repeat: repeat-x;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.box{
  height: 550px; ;
  width: 400px;
  background-color:white;
  border-radius: 15px;
  margin-top: 100px;
}
button{
background-color:hsl(245, 75%, 52%);
color: white;
border-radius: 5px;
padding-left: 60px;
padding-right: 60px;
padding-bottom: 10px;
padding-top: 10px;
border: none;
font-family: "Red Hat Display", sans-serif;
  font-weight: 900;


}

.box2{
  height:60px;
  width: 260px;
   margin-left: 70px;
   background-color: hsl(225, 100%, 98%);
   position: relative;
   font-family: "Red Hat Display", sans-serif;
  font-weight: 500;font-size: 12px;
}
.txt{
  margin-right: 30px;
 position: absolute;
 top:13px;
 left:40px;
}
.img{
  position: absolute;
  right:75px;
  top:5px;
}
.link{
  position: absolute;
  left:200px;
  top:20px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  
}
span{
  color:grey;
}





h2{
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
p{
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color:grey;
  font-size: 16px;
}
h5{
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color:grey;
}
